﻿body{
	overflow-x: hidden;
}
#page_emotion{
	display: none;
	padding-top:20px;
}
.page_emotion dd{
	display: inline-block;
	float:left;
	width:14.2%;
	height:24px;
	margin:5px 0;
	text-align:center;
}
.list_emotion *[data-key]{
	color:transparent;
	display: block;
	width:24px;
	height:24px;
	margin: auto;
	background:url(img/default.gif) no-repeat 0 0;
	-webkit-background-size:auto 24px;
}
.list_emotion *.del{
	background-image:url(img/del.png);
}
.nav_emotion{
	padding:10px 0;
	text-align: center;
}
.nav_emotion span{
	display: inline-block;
	width:8px;
	height:8px;
	border-radius:10px;
	background: #D8D8D8;
	margin:0 5px;
}
.nav_emotion span.on{
	background-color:#bbb;
}