/*     userInde.html   css     */
body{margin: 0px;padding:0px;}
.user-page{max-width: 100%;margin:0px;padding: 0px;}
.nav-bar{width:100%;height:120px;background: #404040;}
.nav-bar .top{width:100%;height:20px;}
.nav-bar img{width:300px;margin-left:20px;float:left;}
.nav-bar .input-text{position: relative;width:300px;height:30px;margin-left:350px;margin-top:30px;}
.input-text .glyphicon{position: absolute;width:20px;height:18px;right:5px;line-height: 30px;text-align: center;background: white;border:0px;border-radius: 10px;color:#606060;}
.input-text .poem-search{width:100%;height:30px;border:1px solid #303030;color:#404040;border-radius:10px;outline: none;font-family: '微软雅黑';}
.option-button{width:100%;height:170px;position: relative;}
.option-button div{width:100px;height:100px;border-radius: 50%;color:white;line-height:100px;text-align: center;font-size: 20px;}
.option-button a{text-decoration: none;}
.option-button #option1{position: absolute;top:20%;left:20px;background:red;}
.option-button #option2{position: absolute;top:20%;left:45%;background:orange;}
.option-button #option3{position: absolute;top:20%;right:20px;background:blue;}
.user-page .content{width:100%;}
.content a{text-decoration: none;}
.content .cont{width:100%;height:120px;border-top:1px solid #D0D0D0;font-family: '微软雅黑';color:black;}
.cont h3{width:70%;margin-left:150px;color:#202020;}
.cont p{width:70%;margin-left:150px;}
.cont .con{width:190px;float:right;margin-right:15px;color:#808080;}
.cont img{width:120px;margin:15px;float:left;}
/*     userInde.html    css    */