.table .edit{border-radius:10px;width: 65px;height: 30px;background:#009900;color:white;border:1px solid #009900;box-shadow: 0px 1px 3px #009900;}
.table .edit:hover{background:#003300;}
.table .upload{border-radius:10px;width: 65px;height: 30px;background: #3366FF;color:white;border:1px solid #3366FF;box-shadow: 0px 1px 3px #3366FF;}
.table .upload:hover{background:#3300CC;}
.table .del{border-radius:10px;width: 65px;height: 30px;background:#FF0000;color:white;border:1px solid #FF0000;box-shadow: 0px 1px 3px #FF0000;}
.table .del:hover{background:#CC0000;}
.ret{border-radius:10px;width: 65px;height: 30px;background: #3366FF;color:white;border:1px solid #3366FF;box-shadow: 0px 1px 3px #3366FF;}
.ret:hover{background:#3300CC;}
.pagination{position:absolute;left:40%;top:1%;width:430px;height:36px;margin-top:20px;}
.pagination .common{margin:0;padding-top:6px;height:36px;float:left;border:1px solid #B0B0B0;text-align: center;color:#3366FF;font-weight: bold;text-decoration: none;}
.pagination .pa1{width: 60px;}
.pagination .pa2{width:70px;border-left: 0;border-right:0;}
.pagination .pa3{width:70px;}
.pagination .common:hover{color:#FF0000;}
.pagination span{margin:0;padding-top:6px;padding-left:10px;height:36px;float:left;border:0px;text-align: center;color:#3366FF;font-weight: bold;text-decoration: none;}
.bt{border-radius:10px;width: 65px;height: 30px;background: #3366FF;color:white;border:1px solid #3366FF;box-shadow: 0px 1px 3px #3366FF;}
.bt:hover{background:#3300CC;}
.infobar{position: absolute;right:25%;top:30%;width:90px;height:30px;border:1px solid #B0B0B0;border-radius: 5px;}
.info{margin:0;padding-left:5px;width:100%;height: 28px;border:0;border-radius: 5px;}
.search-bt{position: absolute;right:32px;top:30%;}
.search-bt .search{border-radius:10px;width: 65px;height: 30px;background: #3366FF;color:white;border:1px solid #3366FF;box-shadow: 0px 1px 3px #3366FF;font-size: 14px;}
.search-bt .search:hover{background:#3300CC;}
.form-group .upload{border-radius:10px;width: 65px;height: 30px;background: #3366FF;color:white;border:1px solid #3366FF;box-shadow: 0px 1px 3px #3366FF;}
.form-group .upload:hover{background:#3300CC;}
.form-group .del{border-radius:10px;width: 65px;height: 30px;background:#FF0000;color:white;border:1px solid #FF0000;box-shadow: 0px 1px 3px #FF0000;}
.form-group .del:hover{background:#CC0000;}